nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height: 70px;
    padding: 0px 10px;
    font-size: 20px;
    border-bottom: 1px solid #d7d7d7;
}

span {
    padding: 10px;
}

span:hover {
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 100%;
}