.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}

li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 20px 50px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
