.App {
  text-align: center;
  padding: 0px 10px;
}

main {
  max-width: 1200px;
  min-height: 90vh;
  margin: auto;
  padding: 10px;
}

.light {
  background: white;
  color: black;
  transition: all 0.5s;
}

.dark {
  background-color: #15202d;
  color: white;
  transition: all 0.5s;
}